div[class^="col"]{
    min-height:50px
}

.row{
    border: 1px dashed red;
}

body{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.line {
    border-top: 2px solid #000;  
    margin: 20px 0;              
  }

img {
    width: 500px;  
    height: auto; 
  }

p{
  font-family: 'Times New Roman', Times, serif;
}
h2{
  font-family: cursive;
}